<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header'); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi sou J-Arcade um desenvolvedor WEB</p>
        </div>

        <%- include('../partials/footer') %>

    </main>
</body>